@font-face {
font-family: 'DFDS-Regular';
font-display: swap;
src: url(https://unpkg.com/@dfds-ui/fonts@0.0.42/fonts/DFDS-Regular.woff2) format('woff2'), url(https://unpkg.com/@dfds-ui/fonts@0.0.42/fonts/DFDS-Regular.woff) format('woff');
}

// Typefaces
$dfds: 'DFDS-Regular', 'Arial', sans-serif;

// text sizes
$text-x-large: 3.4rem;
$text-large: 2.4rem;
$text-medium: 2rem;
$text-small: 1.8rem;
$text-x-small: 1.5rem;

// Global
$primary-font: $dfds;
$primary-font-color: rgba(255,255,255,0.8);
$primary-link-color: rgba(255,255,255,1);
